<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.simple.mybatis.demo.mapper.UserInfoMapper" >

    <insert id="insert" parameterType="com.simple.mybatis.demo.domain.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info(user_name, password) values(#{userName}, #{password})
    </insert>

    <insert id="insert2" parameterType="com.simple.mybatis.demo.domain.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info(user_name, password) values(#{userInfo.userName}, #{userInfo.password})
    </insert>

</mapper>